[user]
	name = Jessica B. Hamrick
	email = jhamrick@mit.edu
  
[alias]
ci = commit
co = checkout
st = status
br = branch
di = diff
dc = diff --cached
  
[color]
diff = auto
status = auto
branch = auto
ui = auto

[core]
editor = emacsclient -t
excludesfile = /home/jhamrick/.gitignore

[push]
default = tracking
